//* css reset *//
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	text-align: left;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//* variables *//
$wit:white;
$orng:#ffae00;
$ornb:#d18e12;
$blk:#101010;
$gry:#ebebeb;
$lstb:#313131;

//* words *//
.mon{
	font-family: "Montserrat";
	line-height: 1.5;
	letter-spacing: 0.8px;
	text-align: left;
}

.mon2{
	font-family: "Montserrat";
	line-height: 1.5;
	letter-spacing: 0.8px;
	text-align: left;
}

.lorab{
	font-family: "Lora";
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.8px;
	text-align: left;
}

.lorao{
		font-family: "Lora";
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.8px;
		text-align: left;
}

//* home page *//

.home{
	.heading{
		height: 230px;
	}
		.tickets{
			padding-top: 100px;
			color: $orng;
			.whitesp{
				padding-left: 10px;
			}
	}
}
.days-until{
	position: absolute;
	left: 15px;
	top: 250px;
	width: 80%;
	background-color: $orng;
	margin: 20px;
	.zero{
		background-color: white;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 5px;
		margin-left: 10px;
		width: 65px;
		height: 65px;
		display: inline-block;
		.mon{
			color: black;
			padding-top: 15px;
			padding-left: 22px;
			font-size: 25px;
		}

	}

	.mon{
		color: white;
		padding-left: 10px;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.9px;
	}
	.mon2{
		padding-left: 50px;
		color: white;
		font-size: 15px;
		letter-spacing: 1px;
	}
}
.images-page{
	margin-left: 20px;
	.small-image{
	width: 30%;
	height: 30%;
	}

	.lorao{
		margin-left: 10px;
		font-size: 17px;
		line-height: 1.41;
		letter-spacing: 0.9px;
		text-align: left;
	}

	.lorao{
		margin-left: 10px;
		font-size: 21px;
		font-weight: bold;
		line-height: 1.71;
		letter-spacing: 1px;
		text-align: left;
	}

	.sponser-on-home{
		margin-top: 20px;
		padding: 20px;
		margin-right: 33px;
		background-color: $orng;
	}

	.mon{
		font-size: 18px;
		font-weight: bold;
		line-height: 1.73;
		letter-spacing: 0.9px;
		text-align: center;
		color: white;
	}

	.small-images{
	width: 50%;
	height: 50%;
	margin: 10px;
	}

	.orange{
	font-family: "Montserrat";
	font-size: 21px;
	font-weight: 500;
	line-height: 1.71;
	letter-spacing: 1px;
	text-align: left;
	color: $orng;
	margin: 10px;
	}
}
@media only screen and (max-width: 320px) {
  body {
    width: 100%; }
}

@media only screen and (min-width: 1024px){
	.home_media{
		.images-page{
			.lorao{
				X: 92px;
				Y: 2011px;
				width: 265px;
				height: 25px;
				font-family: "Lora";
				font-size: 24px;
				line-height: 1.5;
				letter-spacing: 1.2px;
				text-align: left;
				color: #101010;
			}
			.lorab{
				X: 94px;
				Y: 2053px;
				width: 580px;
				height: 17px;
				font-family: "Lora";
				font-size: 18px;
				line-height: 1.33;
				letter-spacing: 0.9px;
				text-align: left;
				color: #101010;
			}
			.small-image{
				width: 15%;
				height: 15%;
			}
			.small-images{
				width: 15%;
				height: 15%;
			}
		}
		.millers-ville{
			padding-left: 20px;
		}
	}
}
//* ssp *//
.note{
	padding-left: 30px;
	padding-right: 30px;
	.mon{
		font-size: 10px;
		font-weight: 500;
		line-height: 1.62;
		letter-spacing: 0.6px;
	}
}
.whitebox{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	.mon{
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.8px;
	}
	.lorao{
		font-size: 14px;
		font-weight: lighter;
		line-height: 1.5;
		letter-spacing: 0.9px;
		padding-bottom: 5px;
	}
	.mon2{
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.8px;
		color: $orng;
	}

}
.greybox{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: $gry;
	.mon{
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.8px;
	}
	.lorao{
		font-size: 14px;
		font-weight: lighter;
		line-height: 1.5;
		letter-spacing: 0.9px;
		padding-bottom: 5px;
	}

	.mon2{
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.8px;
		color: $orng;
	}
}
@media only screen and (max-width: 320px) {
  body {
    width: 100%; }
}

@media only screen and (min-width: 1024px){
	.ssp_media{
		.fltl{
			X: 58px;
			Y: 37px;
			width: 305px;
			height: 37px;
			font-family: 'Montserrat';
			font-size: 18px;
			font-weight: 800;
			line-height: 1.33;
			letter-spacing: 1.8px;
			text-align: left;
			color: #F5F5F5;
		}
		.dropdown-content{
			X: 691px;
			Y: 52px;
			width: 535px;
			height: 10px;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.71;
			letter-spacing: 1.4px;
			text-align: left;
			color: #F5F5F5;
		}
		.lorab{
			X: 92px;
			Y: 269px;
			width: 378px;
			height: 37px;
			font-family: Lora;
			font-size: 36px;
			font-weight: bold;
			line-height: 1.5;
			letter-spacing: 1.8px;
			text-align: left;
			color: #FFAE00;
			color: #D8930B;
		}
		.tickets{
			X: 89px;
			Y: 525px;
			width: 40%;
			height: 40%;
			.whitesp{
				width: 30%;
				height: 30%;
			}
		}
		.note{
			X: 453px;
			Y: 528px;
			width: 442px;
			height: 14px;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			line-height: 2.13;
			letter-spacing: 0.8px;
			text-align: left;
			color: #101010;
		}
		.whitebox{
			X: 452px;
			Y: 584px;
			width: 634px;
			height: 3594px;
			font-family: Montserrat;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: 0.9px;
			text-align: left;
			color: #101010;
		}
		.greybox{
			X: 1px;
			Y: 777px;
			width: 1279px;
			height: 415px;
			opacity: 0.5;
			background-color: #EBEBEB;
		}
		.Conference-Location{
			X: 1px;
			Y: 4212px;
			width: 1279px;
			height: 563px;
			background-color: #FFAE00;
		}
	}
}
//* is da sponser page mang *//

.header{
	background-image: url("../images/b.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 95%;
	height: 100%;
	padding-top: 20px;
	padding-left: 20px;
	display: inline-block;
	color: white;

	.lorab{
	}

	.dropbtn {
	  background-color: transparent;
	  color: white;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	}

	.dropdown {
	  position: inherit;
	  display: inline;
	}

	.dropdown-content {
	  display: none;
	  position: inherit;
	  background-color: transparent;
	  min-width: 146px;
	  box-shadow: 0px 8px 16px 0px grey;
	  z-index: 1;
	}

	.dropdown-content a {
	  color: white;
	  text-decoration: none;
	  display: block;
		word-wrap: break-word;
		width: 50%;
		padding-bottom: 5px;
	}

	.dropdown-content a:hover {
	  background-color: black;
	}

	.dropdown:hover .dropdown-content {
	  display: block;
	}

	.dropdown:hover .dropbtn {
	  background-color: transparent;
	  color: white;
	}

	.fltl{
		float: left;
		width: 70%;
		word-wrap: break-word;
		clear: right;
	}

	.fltr{
		width: 29%;
		float: right;
	}
}

.heading{
	.lorab{
		color: $orng;
		width: 70%;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		font-size: 24px;
	}
	background-image: url("../images/b.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 101%;
	height: 100%;
	.line{
		width: 30%;
		height: 4px;
		margin-bottom: 20px;
		margin-left: 20px;
		background-color: white;
	}
}

.tickets{
	background-color: white;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;

	.hidden{
		display: none;

		.mon{
			color: $orng;
		}

		.space{
			font-family: "Montserrat";
			padding-bottom: 10px;
		}
	}

	.whitesp{
		margin-top: 50px;
		margin-left: 5px;
    width: 98.5%;
		height: 120%;
		background-color: $ornb;

	}
	.lorab{
		padding-left: 30px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 30px;
		color: white;
		font-size: 24px;
	}
	.buy{
		color: $orng;
		background-color: white;
		text-align: center;
		padding-top: 31px;
		margin-left: 20px;
		padding-right: 40px;
		margin-right: 20px;
		margin-bottom: 30px;
		padding-bottom: 20px;
		padding-left: 20px;
		font-family: "Montserrat";
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.9px;
		color: $orng;
	}
	a:visited{
		color: $orng;
	}
}

.sponser{
	padding-left: 19px;
	padding-right: 21px;
	padding-bottom: 30px;
	.mon{
		font-weight: bold;
		font-size: 21px;
		padding-bottom: 10px;
	}
	.mon2{
		font-size: 16px;
		font-family: "lora";
		padding-top: 10px;
		padding-bottom: 10px;

	}
}

.CPOSC-list{
	background-color: $gry;
	padding-bottom: 40px;
	padding-top: 40px;
	.lorab{
		font-family: "Lora";
		font-size: 18px;
		line-height: 1.33;
		letter-spacing: 0.9px;
		text-align: left;
		padding-top: 10px;
    list-style: disc;
    margin-left: 30px;

	}
	.mon{
		padding-top: 20px;
		padding-left: 10px;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.0;
		letter-spacing: 1.2px;
	}
}

.sponser-package{
	.mon{
		padding-top: 30px;
		margin-left: 20px;
		font-size: 21px;
		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 1px;
		text-align: left;
	}

	.lorab{
		font-size: 14px;
		line-height: 1.5;
		letter-spacing: 0.8px;
		text-align: left;
		margin-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.buy{
		color: black;
		background-color: $orng;
		text-align: center;
		padding-top: 31px;
		margin-left: 20px;
		padding-right: 40px;
		margin-right: 20px;
		margin-bottom: 30px;
		padding-bottom: 31px;
		padding-left: 0px;
		font-family: "Montserrat";
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.9px;
	}
	a:visited{
		color: white;
	}
}

.locations{
	background-color: $orng;
	padding-bottom: 30px;
	.mon{
		font-size: 21px;
		font-weight: 500;
		line-height: 1.43;
		letter-spacing: 1px;
		text-align: left;
		padding-top: 30px;
		padding-bottom: 15px;
		margin-left: 20px;
	}
	.lorao{
		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
		padding-top: 20px;
		margin-left: 20px;

	}
	.lorab{
		font-size: 16px;
		margin-left: 20px;
	}

}

.greyspace{
	background-color: $gry;
	height: 360px;
}

.lastpart{
	padding-top: 40px;
	background-color: black;
	padding-bottom: 30px;
	.mon{
		margin-left: 20px;
		color: white;
		padding-bottom: 20px;
	}
	.lorab{
		margin-left: 20px;
		color: $gry;
		padding-bottom: 20px;
	}
	.mon2{
		padding-top: 30px;
		margin-left: 20px;
		color: $gry;
	}
}

@media only screen and (max-width: 320px) {
  body {
    width: 100%; }
}

@media only screen and (min-width: 1024px){
.sponsor_media{
	.header{
		width: 99%;
		font-size: 24px;
		.fltl{
			font-size: 25px;
			word-break: break-all;
			width: 20%;
			height: 100%;
			padding-bottom: 30px;
			padding-top: 15px;
		}
		.fltr{
			padding-top: 15px;
			float: right;
		}
		.dropbtn {
			background-color: none;
			color: white;
			padding: none;
			border: none;
			cursor: none;
		}

		.dropdown {
			position: none;
		}

		.dropdown-content {
			display: inline;
			position: absolute;
			right: 20px;
			top: 35px;
			background-color: none;
			min-width: none;
			box-shadow: none;
			z-index: 1;
		}

		.dropdown-content a {
			color: $orng;
			text-decoration: none;
			display: inline;
			word-wrap: none;
			width: 50%;
			padding-bottom: 5px;
		}

		.dropdown-content a:hover {
			background-color: black;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		.dropdown:hover .dropbtn {
			background-color: transparent;
			color: white;
		}
		.drpi{
			display: none;
		}
		.rgt{
			padding-right: 40px;
		}
	}

	.pic{

		.lorab{
			font-size: 36px;
			padding-left: 90px;
			width: 81%;
		}

		.line{
			width: 10%;
		}
	}
}
}
//*about page *//

.about-the-conference{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-top: 20px;
	text-align: left;
	.mon{
		font-size: 24px;
		font-weight: 500;
		line-height: 1.17;
		letter-spacing: 1.2px;
		padding-bottom: 10px;
	}
	.lorab{
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.8px;
		padding-bottom: 15px;

	}
}

.venue{
	padding-bottom: 30px;
	padding-top: 20px;
	text-align: left;
	background-color: $gry;

	.mon{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.0;
		letter-spacing: 1.2px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.lorab{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.8px;
		padding-bottom: 15px;
	}
	.ven{
		background-image: url("../images/1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 200px;
	}
}

.Contact-Inquiries{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-top: 20px;
	text-align: left;
	.mon{
		font-size: 24px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 1.2px;
	}

	.lorao{
		padding-bottom: 10px;
	}

	.box{
		width: 90%;
		padding-bottom: 15px;
		border: solid 1px black;
	}

	.subm{
		background-color: $orng;
		padding: 13px;
		margin-top: 10px;
		margin-left: 120px;
		margin-right: 22px;
	}

	.sub{
		font-family: "Montserrat";
		font-size: 15px;
		font-weight: bold;
		line-height: 2.0;
		letter-spacing: 0.9px;
		padding-left: 25px;
		color: white;
	}
}

.Conference-Location{
	background-color: $orng;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-top: 20px;
	text-align: left;

	.mon{
		font-size: 21px;
		font-weight: 500;
		line-height: 1.43;
		letter-spacing: 1px;
		padding-top: 10px;
		padding-bottom: 15px;
		width: 50%;
	}
	.mon2{
		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
		padding-bottom: 15px;
	}
	.lorab{
		padding-bottom: 15px;
		font-size: 16px;
		line-height: 1.5;
	}
}
@media only screen and (max-width: 320px) {
  body {
    width: 100%; }
}

@media only screen and (min-width: 1024px){
	.about_media{
		.header{
			width: 1280px;
			height: 180px;
		}
		.fltl{
		X: 58px;
		Y: 37px;
		width: 305px;
		height: 37px;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 800;
		line-height: 1.33;
		letter-spacing: 1.8px;
		text-align: left;
		color: #F5F5F5;
		}
		.fltr{
			X: 721px;
			Y: 52px;
			width: 499px;
			height: 10px;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.71;
			letter-spacing: 1.4px;
			text-align: left;
			color: #F5F5F5;
		}
		.heading{
			X: 91px;
			Y: 269px;
			width: 974px;
			height: 146px;
			font-family: Lora;
			font-size: 36px;
			font-weight: bold;
			line-height: 1.5;
			letter-spacing: 1.8px;
			text-align: left;
			color: #FFAE00;
		}
		.whitesp{
			X: 89px;
			Y: 818px;
			width: 301px;
			height: 200px;
		}
		.about-the-conference{
			X: 453px;
			Y: 674px;
			width: 668px;
			height: 358px;
			font-family: Lora;
			font-size: 18px;
			line-height: 1.33;
			letter-spacing: 0.9px;
			text-align: left;
			color: #101010;
		}
		.venue{
			X: 452px;
			Y: 1179px;
			width: 664px;
			height: 1076px;
			font-family: Lora;
			font-size: 18px;
			line-height: 1.33;
			letter-spacing: 0.9px;
			text-align: left;
			color: #101010;
			.ven{
				X: 319px;
				Y: 1578px;
				width: 763px;
				height: 469px;
			}
		}
		.Contact-Inquiries{
			.mon{
				X: 454px;
				Y: 2438px;
				width: 249px;
				height: 24px;
				font-family: Montserrat;
				font-size: 24px;
				font-weight: 500;
				line-height: 1.5;
				letter-spacing: 1.2px;
				text-align: left;
				color: #101010;
			}
			.lorab{
				X: 454px;
				Y: 2480px;
				width: 661px;
				height: 17px;
				font-family: Lora;
				font-size: 18px;
				line-height: 1.33;
				letter-spacing: 0.9px;
				text-align: left;
				color: #101010;
			}
			.box{
				X: 563px;
				width: 419px;
				height: 44px;
				background-color: #FFFFFF;
				border: solid 1px #252525;
				// Make height 179px for 4th box and put html content into one div class
			}
			.subm{
				X: 563px;
				Y: 2975px;
				width: 168px;
				height: 51px;
				background-color: #FFAE00;
			}
		}
		.Conference-Location{
			width: 507px;
			height: 563px;
			background-color: #EBEBEB;
			font-family: Lora;
			font-size: 18px;
			text-align: left;
			color: #101010;
			.mon{
				X: 91px;
				Y: 3264px;
				width: 337px;
				height: 17px;
				font-family: Montserrat;
				font-size: 24px;
				font-weight: 500;
				line-height: 1.5;
				letter-spacing: 1.2px;
				text-align: left;
				color: #101010;
			}
		}
		.greyspace{
			X: 508px;
			Y: 3170px;
			width: 772px;
			height: 563px;
			background-color: #EBEBEB;
		}
		.lastpart{
			Y: 3734px;
			width: 1280px;
			height: 294;
			background-color: #313131;
			.mon{
				X: 90px;
			  Y: 3830px;
				width: 151px;
				height: 14px;
				font-family: Montserrat;
				font-size: 18px;
				font-weight: 500;
				text-align: left;
				color: #EBEBEB;
			}
			.lorab{
				X: 91px;
				Y: 3866px;
				width: 326px;
				height: 88px;
				font-family: Lora;
				font-size: 16px;
				line-height: 1.5;
				text-align: left;
				color: #EBEBEB;
			}
			.mon2{
				X: 809px;
				Y: 3830px;
				width: 189px;
				height: 14px;
				font-family: Montserrat;
				font-size: 18px;
				font-weight: 500;
				text-align: left;
				color: #EBEBEB;
				// Name #CPOSC a different class
			}
		}
	}
}
//* tickets page *//

.ticket-cost{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	.lorao{
		padding-top: 10px;
		padding-bottom: 10px;
		color: $orng;
	}
	.mon{
		font-weight: bold;
	}
}
@media only screen and (max-width: 320px) {
  body {
    width: 100%; }
}

@media only screen and (min-width: 1024px){
	.tickets_media{
		.header{
			width: 1280px;
			height: 210px;
			.fltl{
				X: 58px;
				Y: 37px;
				width: 305px;
				height: 37px;
				font-family: "Montserrat";
				font-size: 18px;
				font-weight: 800;
				line-height: 1.33;
				letter-spacing: 1.8px;
				text-align: left;
				color: #F5F5F5;
			}
			.fltr{
				X: 301px;
				Y: 52px;
				width: 499px;
				height: 10px;
				font-family: "Montserrat";
				font-size: 14px;
				font-weight: 500;
				line-height: 1.71;
				letter-spacing: 1.4px;
				text-align: left;
				color: #F5F5F5;
			}
		}
		.heading{
			width: 1280px;
			height: 282px;
			.lorab{
				X: 91px;
				Y: 229px;
				width: 1067px;
				height: 92px;
				font-family: "Lora";
				font-size: 36px;
				font-weight: bold;
				line-height: 1.5;
				letter-spacing: 1.8px;
				text-align: left;
				color: #FFAE00;
			}
			.line{
				X: 92px;
				Y: 368px;
				width: 136px;
				height: 8px;
				background-color: #FFFFFF;
			}
		}
		article{
			.whitebox{
				X: 92px;
				Y: 584px;
				width: 786px;
				height: 77px;
				font-family: "Lora";
				font-size: 21px;
				line-height: 1.33;
				letter-spacing: 1px;
				text-align: left;
				color: #101010;
			}
		}
		.ticket-cost{
			X: 91px;
			Y: 732px;
			width: 852px;
			height: 1675px;
			font-family: "Lora";
			font-size: 18px;
			line-height: 1.33px;
			letter-spacing: 0.9px;
			text-align: left;
			color: #101010;
			.ticket-cost{
				X: 92px;
				Y: 2509px;
				width: 70px;
				height: 18px;
				font-family: "Montserrat";
				font-size: 24px;
				font-weight: 500;
				line-height: 2.25;
				letter-spacing: 1.2px;
				text-align: left;
				color: #101010;
			}
			.confirm-purchase{
				X: 92px;
				Y: 2603px;
				width: 171px;
				height: 59px;
				background-color: #FFAE00;
			}
		}
		.Conference-Location{
			width: 507px;
			height: 563px;
			background-color: #FFAE00;
			font-family: "Lora";
			font-size: 18px;
			text-align: left;
			color: #101010;
			.mon{
				X: 91px;
				Y: 2854px;
				width: 337px;
				height: 17px;
				font-family: "Montserrat";
				font-size: 24px;
				font-weight: 500;
				line-height: 1.5;
				letter-spacing: 1.2px;
				text-align: left;
				color: #101010;
			}
		}
		.greyspace{
			X: 508px;
			Y: 2760px;
			width: 772px;
			height: 563px;
			background-color: #EBEBEB;
		}
		.lastpart{
			X: 0px;
			Y: 3324px;
			width: 1280px;
			height: 335px;
			background-color: #313131;
			.mon{
				X: 90px;
				Y: 3420px;
				width: 151px;
				height: 14px;
				font-family: "Montserrat";
				font-size: 18px;
				font-weight: 500;
				text-align: left;
				color: #EBEBEB;
			}
			.lorab{
				X: 91px;
				Y: 3456px;
				width: 326px;
				height: 88px;
				font-family: "Lora";
				font-size: 16px;
				line-height: 1.5;
				text-align: left;
				color: #EBEBEB;
			}
			.mon2{
				X: 809px;
				Y: 3420px;
				width: 189px;
				height: 14px;
				font-family: "Montserrat";
				font-size: 18px;
				font-weight: 500;
				text-align: left;
				color: #EBEBEB;
			}
			.mon2{
				X: 809px;
				Y: 3518px;
				width: 133px;
				height: 13px;
				font-family: "Montserrat";
				font-size: 18px;
				letter-spacing: 1.8px;
				text-align: left;
				color: #EBEBEB;
			}
		}
	}
}
