/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  text-align: left; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.mon {
  font-family: "Montserrat";
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left; }

.mon2 {
  font-family: "Montserrat";
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left; }

.lorab {
  font-family: "Lora";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left; }

.lorao {
  font-family: "Lora";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left; }

.home .heading {
  height: 230px; }
.home .tickets {
  padding-top: 100px;
  color: #ffae00; }

.days-until {
  position: absolute;
  left: 15px;
  top: 250px;
  width: 80%;
  background-color: #ffae00;
  margin: 20px; }
  .days-until .zero {
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 10px;
    width: 65px;
    height: 65px;
    display: inline-block; }
    .days-until .zero .mon {
      color: black;
      padding-top: 15px;
      padding-left: 22px;
      font-size: 25px; }
  .days-until .mon {
    color: white;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.9px; }
  .days-until .mon2 {
    padding-left: 50px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px; }

.note {
  padding-left: 30px;
  padding-right: 30px; }
  .note .mon {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.6px; }

.whitebox {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }
  .whitebox .mon {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px; }
  .whitebox .lorao {
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.5;
    letter-spacing: 0.9px;
    padding-bottom: 5px; }
  .whitebox .mon2 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ffae00; }

.greybox {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ebebeb; }
  .greybox .mon {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px; }
  .greybox .lorao {
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.5;
    letter-spacing: 0.9px;
    padding-bottom: 5px; }
  .greybox .mon2 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ffae00; }

.header {
  background-image: url("../back/b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  display: inline-block;
  color: white; }
  .header .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; }
  .header .dropdown {
    position: inherit;
    display: inline; }
  .header .dropdown-content {
    display: none;
    position: inherit;
    background-color: transparent;
    min-width: 146px;
    box-shadow: 0px 8px 16px 0px grey;
    z-index: 1; }
  .header .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    word-wrap: break-word;
    width: 50%;
    padding-bottom: 5px; }
  .header .dropdown-content a:hover {
    background-color: black; }
  .header .dropdown:hover .dropdown-content {
    display: block; }
  .header .dropdown:hover .dropbtn {
    background-color: transparent;
    color: white; }
  .header .fltl {
    float: left;
    width: 70%;
    word-wrap: break-word;
    clear: right; }
  .header .fltr {
    width: 29%;
    float: right; }

.heading {
  background-image: url("../back/b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 101%;
  height: 100%; }
  .heading .lorab {
    color: #ffae00;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 24px; }
  .heading .line {
    width: 30%;
    height: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: white; }

.tickets {
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px; }
  .tickets .hidden {
    display: none; }
    .tickets .hidden .mon {
      color: #ffae00; }
    .tickets .hidden .space {
      font-family: "Montserrat";
      padding-bottom: 10px; }
  .tickets .whitesp {
    width: 100%;
    height: 120%;
    background-color: #d18e12; }
  .tickets .lorab {
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    font-size: 24px; }
  .tickets .buy {
    color: #ffae00;
    background-color: white;
    text-align: center;
    padding-top: 31px;
    margin-left: 20px;
    padding-right: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.9px;
    color: #ffae00; }
  .tickets a:visited {
    color: #ffae00; }

.sponser {
  padding-left: 19px;
  padding-right: 21px;
  padding-bottom: 30px; }
  .sponser .mon {
    font-weight: bold;
    font-size: 21px;
    padding-bottom: 10px; }
  .sponser .mon2 {
    font-size: 16px;
    font-family: "lora";
    padding-top: 10px;
    padding-bottom: 10px; }

.CPOSC-list {
  background-color: #ebebeb;
  padding-bottom: 40px;
  padding-top: 40px; }
  .CPOSC-list .lorab {
    font-family: "Lora";
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: left;
    padding-top: 10px;
    list-style: disc;
    margin-left: 30px; }
  .CPOSC-list .mon {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.0;
    letter-spacing: 1.2px; }

.sponser-package .mon {
  padding-top: 30px;
  margin-left: 20px;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 1px;
  text-align: left; }
.sponser-package .lorab {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  margin-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }
.sponser-package .buy {
  color: black;
  background-color: #ffae00;
  text-align: center;
  padding-top: 31px;
  margin-left: 20px;
  padding-right: 40px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-bottom: 31px;
  padding-left: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px; }
.sponser-package a:visited {
  color: white; }

.locations {
  background-color: #ffae00;
  padding-bottom: 30px; }
  .locations .mon {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-left: 20px; }
  .locations .lorao {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    padding-top: 20px;
    margin-left: 20px; }
  .locations .lorab {
    font-size: 16px;
    margin-left: 20px; }

.greyspace {
  background-color: #ebebeb;
  height: 360px; }

.lastpart {
  padding-top: 40px;
  background-color: black;
  padding-bottom: 30px; }
  .lastpart .mon {
    margin-left: 20px;
    color: white;
    padding-bottom: 20px; }
  .lastpart .lorab {
    margin-left: 20px;
    color: #ebebeb;
    padding-bottom: 20px; }
  .lastpart .mon2 {
    padding-top: 30px;
    margin-left: 20px;
    color: #ebebeb; }

@media only screen and (max-width: 320px) {
  body {
    width: 100%; } }
@media only screen and (min-width: 1024px) {
  .header {
    width: 99%;
    font-size: 24px; }
    .header .fltl {
      font-size: 25px;
      word-break: break-all;
      width: 20%;
      height: 100%;
      padding-bottom: 30px;
      padding-top: 15px; }
    .header .fltr {
      padding-top: 15px;
      float: right; }
    .header .dropbtn {
      background-color: none;
      color: white;
      padding: none;
      border: none;
      cursor: none; }
    .header .dropdown {
      position: none; }
    .header .dropdown-content {
      display: inline;
      position: absolute;
      right: 20px;
      top: 35px;
      background-color: none;
      min-width: none;
      box-shadow: none;
      z-index: 1; }
    .header .dropdown-content a {
      color: #ffae00;
      text-decoration: none;
      display: inline;
      word-wrap: none;
      width: 50%;
      padding-bottom: 5px; }
    .header .dropdown-content a:hover {
      background-color: black; }
    .header .dropdown:hover .dropdown-content {
      display: block; }
    .header .dropdown:hover .dropbtn {
      background-color: transparent;
      color: white; }
    .header .drpi {
      display: none; }
    .header .rgt {
      padding-right: 40px; }

  .pic .lorab {
    font-size: 36px;
    padding-left: 90px;
    width: 81%; }
  .pic .line {
    width: 10%; } }
.about-the-conference {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: left; }
  .about-the-conference .mon {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 1.2px;
    padding-bottom: 10px; }
  .about-the-conference .lorab {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    padding-bottom: 15px; }

.venue {
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: left;
  background-color: #ebebeb; }
  .venue .mon {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.0;
    letter-spacing: 1.2px;
    padding-bottom: 15px;
    padding-top: 15px; }
  .venue .lorab {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    padding-bottom: 15px; }
  .venue .ven {
    background-image: url("../back/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px; }

.Contact-Inquiries {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: left; }
  .Contact-Inquiries .mon {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.2px; }
  .Contact-Inquiries .lorao {
    padding-bottom: 10px; }
  .Contact-Inquiries .box {
    width: 90%;
    padding-bottom: 15px;
    border: solid 1px black; }
  .Contact-Inquiries .subm {
    background-color: #ffae00;
    padding: 13px;
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 22px; }
  .Contact-Inquiries .sub {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: bold;
    line-height: 2.0;
    letter-spacing: 0.9px;
    padding-left: 25px;
    color: white; }

.Conference-Location {
  background-color: #ffae00;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: left; }
  .Conference-Location .mon {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 50%; }
  .Conference-Location .mon2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    padding-bottom: 15px; }
  .Conference-Location .lorab {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.5; }

.ticket-cost {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px; }
  .ticket-cost .lorao {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffae00; }
  .ticket-cost .mon {
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
